set show-mode-in-prompt on
set show-all-if-ambiguous on
set completion-ignore-case on
set emacs-mode-string ""
$if mode=emacs
"\C-SUI_行编辑":
"\C-SUI_行编辑s": backward-kill-line
"\C-SUI_行编辑t": kill-line
"\C-SUI_行编辑u": undo
"\C-SUI_行编辑U": redo
"\C-SUI_行编辑d": kill-whole-line
"\C-SUI_行编辑n": unix-word-rubout
"\C-SUI_行编辑o": kill-word
# TODO https://stackoverflow.com/questions/59771639/how-do-i-edit-current-shell-command-without-executing-it
"\C-SUI_行编辑e": edit-and-execute-command
"\C-SUI_行编辑y": kill-line
"\C-SUI_行编辑p": kill-line
"\C-SUI_行编辑f": "\C-]"
"\C-SUI_行编辑F": "\C-M-]"

# Home
"\e[1~": beginning-of-line
# End
"\e[4~": end-of-line
# Delete
"\e[3~": delete-char
# Insert
"\e[2~": quoted-insert

# for sui unregular use
"\C-N": unix-word-rubout
"\C-O": kill-word
"\C-S": shell-backward-word
"\C-T": shell-forward-word
$endif

$if Bash
$endif
